<div class="card">
    <div class="card-body" [class.text-secondary]="!bike.isAvailable()">
      <img class="card-img-top" [src]="bike.getImageUrl()" [alt]="bike.name">
      <div class="card-body">
          <h4 class="card-title">{{ bike.name | uppercase }} </h4>
          <p class="card-text" *ngIf="!isDescriptionVisible">{{ bike.description | truncate:20}}&nbsp;<a href="#" (click)="toggleDescription()">[read more]</a></p>
          <p class="card-text" *ngIf="isDescriptionVisible">{{ bike.description }}&nbsp;<a href="#" (click)="toggleDescription()">[hide]</a></p>
          <p class="text-right font-weight-bold">Price: {{ bike.price | currency:'EUR':true:'1.2-2' }}</p>
          <div class="input-group" *ngIf="bike.isAvailable()">
            <span class="input-group-addon">Qty: {{bike.qty}}</span>

            <span class="input-group-addon" [class.good]="bike.qtyAvailable >= 10" [class.bad]="bike.qtyAvailable < 10" >of&nbsp;{{bike.qtyAvailable}}</span>
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" (click)="decreaseQty()" *ngIf="bike.qty > 0">-</button>
                <button class="btn btn-secondary" type="button" (click)="increaseQty()" *ngIf="bike.qtyAvailable > 0">+</button>
                
            </span>
          </div>
          <button class="btn btn-info" type="button" (click)="addToCart()">Add to cart</button>
          <div *ngIf="!bike.isAvailable()">
            <p>Sold out!</p>
          </div>
      </div>
    </div>
</div>